@charset "utf-8";

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legent, p, table, select,
th, td, tr, textarea, button, form {
	margin: 0;
	padding: 0;
}

/* a 링크 초기화 */
a {
	color: #222;
	text-decoration: none;
}
a:hover {
	color: #390;
}

/* 폰트 초기화 */
@font-face {
    font-family: 'PyeongChang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'PyeongChang-Bold', AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
}

/* IR 효과 : CSS 기법으로 의미 있는 이미지의 대체 텍스트 제공 */
.ir_pm {
	display: block;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
}

/* WA 기법은 이미지가 없어도 대체 텍스트 보임 */
.ir_wa {
	display: block;
	overflow: hidden;
	position: relative;
	z-index: -1;
	width: 100%;
}

/* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트 제공 */
.ir_su {
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	text-indent: -9999px;
}

/* 불릿기호 초기화 */
ul, ol, dl, li, menu {
	font-size: 1rem;
	list-style: none;
}