@charset "utf-8";

/* WA 기법은 이미지가 없어도 대체 텍스트 보임 */
.ir_wa {
	display: block;
	overflow: hidden;
	position: relative;
	z-index: -1;
	width: 100%;
}

/* 스킵 네비게이션 */
#skip {
	position: relative;
}

#skip a {
	position: absolute;
	left: 0;
	top: -35px;
	border: 1px solid white;
	color: white;
	background: #333;
	line-height: 30px;
	width: 180px;
	text-align: center;
	font-size: 16px;
}

#skip a:active, #skip a:focus {
	top: 0;
}


/* 전체 레이아웃 */
#wrap {
	
}

header {
	height: 400px;
	/* 백그라운드는 반복됨 repeat-x로 x축만 반복되게 함 */
	background: url(https://i.pinimg.com/474x/2b/c8/3e/2bc83ec36371f5d8251f9a3dbc22a225.jpg) repeat-x;
}

main {
	/* height: 800px;
	background: #222; */
}

footer {
	height: 200px;
	background: #333;
}


/* 컨테이너 */
.container {
	width: 990px;
	margin: 0 auto;
	height: inherit;
	/* background: rgba(0, 0, 0, 0.3); */
	color: white;
	text-align: center;
}


/* 컨텐츠 레이아웃 */
#cont-nav {
	/* height: 200px; */
	/* background: #333; */
	background-color: #f6fdff;
}

#cont-tit {
	/*
	height: 200px;
	background: #444;
	*/
	background-color: #EAF7FD;
}

#cont-ban {
	/*
	height: 200px;
	background: #555;
	*/
	background-color: #dceff7;
}

#cont-cont {
	/*
	height: 200px;
	background: #666;
	*/
	background-color: #f6fdff;
}


/* 헤더 레이아웃 */
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.header {
	font-family: 'PyeongChangPeace-Bold', AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
	text-transform: uppercase;
}

.header .header-menu {
	text-align: right;
}

.header .header-menu a {
	color: white;
	background: #4aa8d4;
	font-size: 20px;
	text-align: center;
	padding: 10px 10px 20px 10px; /* inline 태그는 padding 값이 먹히지 않음 */
	display: inline-block; /* 따라서 inline-block 속성을 넣어서 padding 먹히게 ... */
	border-radius: 0 0 50% 50%;
}

.header .header-menu a:hover {
	color: #222;
}

.header .header-tit {
	background-color: #4aa8d4;
	padding: 10px 20px 10px 20px;
	margin-top: 20px;
}

.header .header-tit h1 {
	text-align: center;
	font-size: 32px;
}

.header .header-tit a {
	display: inline-block;
	color: white;
	background-color: #2698cb;
	padding: 5px 20px 6px 20px;
	margin: 10px;
	border-radius: 50%;
}

.header .header-tit a:hover {
	color: #222;
}

.header .header-icon {
	text-align: center;
	margin-top: 30px;
}

.header .header-icon a {
	width: 60px;
	height: 60px;
	display: inline-block;
	background: url(https://github.com/webstoryboy/webstandard2019/blob/master/img/icon.png?raw=true);
}

.header .header-icon a.class2 {
	background-position: 0px -60px;
}


.header .header-icon a.class3 {
	background-position: 0 -120px;
}

.header .header-icon a.class4 {
	background-position: 0 -180px;
}

.header .header-icon a.class1:hover {
	background-position: -60px 0px;
}


.header .header-icon a.class2:hover {
	background-position: -60px -60px;
}


.header .header-icon a.class3:hover {
	background-position: -60px -120px;
}

.header .header-icon a.class4:hover {
	background-position: -60px -180px;
}


/* 전체 메뉴 */
.nav {
	/* float: left로 인한 영역 깨짐( height: 0) 방지법 
		1. 깨지는 영역에 똑같이 float: left 사용 -> 모든 박스에 써줘야 하므로 비추천
		2. float의 성질을 차단하는 clear: both 사용 -> 구조가 복잡해지면 어떤 영역이 깨졌는지 찾기 어려움
		3. float을 사용한 상위 박스에게 overflow: hidden을 사용 
		4. clearfix 사용 -> 반응형에서 ~~ 
	*/
	overflow: hidden;
	padding: 30px 10px;
}

.nav > div h3 {
	font-size: 20px;
	color: #25a2d0;
	text-align: left;
	margin-bottom: 4px;
}


/* > 기호로 첫 번째 자식만 선택 */
.nav > div {
	float: left;
	width: 40%;
}

.nav > div:last-child {
	width: 20%; /* ie9부터 사용 가능 */
}
.nav > div.last {
	width: 20%;
}

.nav > div ol {
	overflow: hidden;
} 

.nav > div ol li {
	float: left;
	width: 50%;
	text-align: left;
}

.nav > div.last ol li {
	width: 100%;
}

.nav > div ol li a:hover {
	color: #25a2d0;
	text-decoration: underline;
}


/* 타이틀 */
.tit {
	position: relative;
}

.tit h2 {
	font-size: 40px;
	text-align: center;
	padding: 10px 0px;
	letter-spacing: 2px;
	color: #2c94c4;
}

.tit .btn {
	position: absolute; /* 반응형에서는 사용 지양하기 */
	top: 5px;
	right: 0;
	width: 60px;
	height: 60px;
	background: url(https://github.com/webstoryboy/webstandard2019/blob/master/img/icon.png?raw=true) no-repeat 0 -600px;
}


/* 배너 */
.ban {
	position: relative;
	padding: 24px 0px 20px;
}

.ban a.prev, a.next {
	position: absolute;
	top: 60px;
	width: 43px;
	height: 43px;
	background: url(https://github.com/webstoryboy/webstandard2019/blob/master/img/icon.png?raw=true) no-repeat;
}

.ban a.prev {
	left: -60px;
	background-position: -150px 0px;
}

.ban a.next {
	right: -60px;
	background-position: -150px -43px;
}

.ban a.prev:hover {
	left: -60px;
	background-position: -193px 0px;
}

.ban a.next:hover {
	right: -60px;
	background-position: -193px -43px;
}

.ban ul {
	overflow: hidden;
}

.ban ul li {
	float: left;
	width: 330px;
}

.ban ul li:last-child { /* ie9부터 적용 */
	text-align: right;
}

.ban ul li:nth-child(2) {
	text-align: center;
}

/* ie8 이하에서는 아래 코드로 적용 가능 */
.ban ul li.ban-img1 {
	text-align: left;
}
.ban ul li.ban-img2 {
	text-align: center;
}

.ban ul li img {
	border: 4px solid #dcdcdc;
}

.ban ul li img:hover {
	border-color: #97bcdc;
}


/* 컨텐츠 */
.cont {
	overflow: hidden;
	padding-top: 30px;
}

.cont .column {
	width: 289px;
	height: 363px;
	position: relative;
	float: left;
	margin: 0 30px 30px 0;
	padding-right: 30px;
}

.cont .col1 {
	border-right: 1px solid #c8c8c8;
}

.cont .col2 {
	border-right: 1px solid #c8c8c8;
}

.cont .col3 {
	margin-right: 0;
	padding-right: 0;
}

.cont .col4 {
	border-right: 1px solid #c8c8c8;
}

.cont .col5 {
	border-right: 1px solid #c8c8c8;
}

.cont .col6 {
	margin-right: 0;
	padding-right: 0;
}

.cont .column .ico-img {
	display: block;
	width: 60px;
	height: 60px;
	background: url(https://github.com/webstoryboy/webstandard2019/blob/master/img/icon.png?raw=true) no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

.cont .column .ico-tit {
	padding-left: 70px;
	display: block;
	text-align: left;
	font-size: 16px;
	color: #2c94c4;
}

.cont .column .ico-desc {
	display: block;
	text-align: left;
	padding-left: 70px;
	padding-bottom: 15px;
	border-bottom: 1px solid #d0d0d0;
}

.cont .col1 .ico-img { background-position: 0px -240px; }
.cont .col2 .ico-img { background-position: 0px -300px; }
.cont .col3 .ico-img { background-position: 0px -360px; }
.cont .col4 .ico-img { background-position: 0px -420px; }
.cont .col5 .ico-img { background-position: 0px -480px; }
.cont .col6 .ico-img { background-position: 0px -540px; }

.cont .col1 .ico-img:hover { background-position: -60px -240px; }
.cont .col2 .ico-img:hover { background-position: -60px -300px; }
.cont .col3 .ico-img:hover { background-position: -60px -360px; }
.cont .col4 .ico-img:hover { background-position: -60px -420px; }
.cont .col5 .ico-img:hover { background-position: -60px -480px; }
.cont .col6 .ico-img:hover { background-position: -60px -540px; }
	
	
/* 게시판 */
.notice {
	position: relative;
	margin-top: 15px;
	text-align: left;
}
	
.notice h4 {
	font-size: 14px; 
	color: #0093bd; 
	padding-bottom: 3px; 
	font-weight: bold;
}
	
.notice ul {
	text-align: left;
}
	
.notice ul li {
	background: url(https://github.com/webstoryboy/webstandard2019/blob/master/img/dot.gif?raw=true) no-repeat 0 8px; 
	padding-left: 8px;
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap; 
	font-size: 12px; 
}
	
.notice ul li a { 	
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap; 
	font-size: 12px; 
}
	
.notice a.more {
	position: absolute; 
	right: 0;	
	top: 0; 
	display: block; 
	background: url(https://github.com/webstoryboy/webstandard2019/blob/master/img/icon.png?raw=true) -150px -90px; 
	width: 17px; 
	height: 17px;
}
	
	
/* 게시판2 */
.notice2 {
	position: relative; 
	margin-top: 15px;
	text-align: left;
}
	
.notice2 h4 {
	font-size: 14px; 
	color: #0093bd; 
	padding-bottom: 3px; 
	font-weight: bold;
}

.notice2 li {
	text-align: left;
	font-size: 10px;
	overflow: hidden; 
	background: url(https://github.com/webstoryboy/webstandard2019/blob/master/img/dot.gif?raw=true) no-repeat 0 8px; 
	padding-left: 8px;
}

.notice2 li a {
	float: left; 
	width: 65%; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap; 
	font-size: 12px; 
}

.notice2 li span { 
	float: right;
	width: 30%; 
	text-align: right;
}

.notice2 a.more {
	position: absolute; 
	right: 0; 
	top: 0; 
	display: block; 
	background: url(https://github.com/webstoryboy/webstandard2019/blob/master/img/icon.png?raw=true) -150px -90px; 
	width: 17px; 
	height: 17px;
}


/* 게시판 3 */
.notice3 {
	position: relative;
	margin-top: 15px;
	text-align: left;
}

.notice3 h4 {
	font-size: 14px; 
	color: #0093bd; 
	padding-bottom: 3px; 
	font-weight: bold;
}

.notice3 li {
	position: relative; 
	padding: 8px 0 14px 60px;
}

.notice3 li a img {
	width: 50px; 
	position: absolute; 
	left: 0; 
	top: 0; 
	border: 1px solid #0093bd;
}

.notice3 li a strong {
	display: block; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
}

.notice3 li a span {
	display: block; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap; 
	font-size: 12px;
}

.notice2 a.more {
	position: absolute; 
	right: 0; 
	top: 0; 
	display: block; 
	background: url(../img/icon.png) -150px -90px; 
	width: 17px; 
	height: 17px;
}


/* 마우스 오버효과1 */
.notice_hover h4 {
	font-size: 14px; 
	color: #0093bd; 
	padding-bottom: 3px; 
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 5px;
}

.notice_hover ul {
	overflow: hidden;
}

.notice_hover li {
	float: left; 
	width: 93px;
	margin-right: 5px; 
	text-align: center;
}

.notice_hover li:last-child {
	margin-right: 0; /* ie9부터 적용 */
} 
.notice_hover li.last {
	margin-right: 0; /* 모든 브라우저에 적용 */
} 

.notice_hover li span {
	position: relative; 
	display: block; 
	width: 93px; 
	height: 93px; 
	line-height: 93px;
}

.notice_hover li span img {
	width: 100%;
}

.notice_hover li span em {
	visibility: hidden;
	position: absolute; 
	left: 0; 
	top: 0;
	background: rgba(0,0,0,0.7); 
	color:#fff; 
	width: 100%; 
	height: 100%;
}

.notice_hover li span:hover em {
	visibility: visible;
}

.notice_hover li strong {
	padding-top: 3px; 
	display: inline-block; 
	font-size: 12px;
}


/* 마우스 효과 2 */
.notice_hover2 {
	margin-top: 15px;
}

.notice_hover2 ul {
	overflow: hidden;
}

.notice_hover2 li {
	float: left; 
	width: 93px; 
	text-align: center; 
	margin-right: 5px;
}

.notice_hover2 li.last {
	margin-right: 0;
}

.notice_hover2 li a span {
	position: relative; 
	display: block; 
	width: 93px; 
	height: 93px;
}

.notice_hover2 li a span img {
	width: 100%; 
}

.notice_hover2 li a span em {
	visibility: hidden; 
	position: absolute; 
	left: 0; 
	bottom: 0; 
	width: 100%; 
	background: rgba(0,0,0,0.7); 
	color:#fff;
}

.notice_hover2 li a span:hover em {
	visibility: visible;
}

.notice_hover2 li a strong {
	padding-top: 3px; 
	display: inline-block; 
	font-size: 12px;
}


/* 탭 메뉴 */
.tab-menu {
	
}

.tab-menu ul {
	
}

.tab-menu ul li {
	
}

.tab-menu ul li a {
	
}

.tab-menu ul li ul {
	
}