@charset "utf-8";

/* 스킵 네비게이션 */
#skip {
	position: relative;
}

#skip a {
	position: absolute;
	left: 0;
	top: -35px;
	border: 1px solid white;
	color: white;
	background: #333;
	line-height: 30px;
	width: 180px;
	text-align: center;
	font-size: 16px;
}

#skip a:active, #skip a:focus {
	top: 0;
}


/* 전체 레이아웃 */
#wrap {
	
}

header {
	height: 325px;
	background: #111;
}

main {
	height: 800px;
	background: #222;
}

footer {
	height: 200px;
	background: #333;
}


/* 컨테이너 */
.container {
	margin: 0 auto;
	height: inherit;
	background: rgba(0, 0, 0, 0.3);
	font-size: 40px;
	color: white;
	text-align: center;
	text-transform: uppercase;
}


/* 컨텐츠 레이아웃 */
#cont-nav {
	height: 200px;
	background: #333;
}

#cont-tit {
	height: 200px;
	background: #444;
}

#cont-ban {
	height: 200px;
	background: #555;
}

#cont-cont {
	height: 200px;
	background: #666;
}