.header {
	position: fixed; /* 스크롤 해도 보이도록 */
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	box-shadow: 0 0 3px black;
	z-index: 20; /* 상대적으로 높은 위치 */
}

.header-wrapper {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
}

.header-start {
	height: 40px;
	line-height: 40px;
}

.header-hamburger {
	border: none;
	background-color: transparent;
	font-size: 1.5rem;
}

.header-title {
	font-size: 1.2rem;
	margin-left: 6px;
}

.header-center {
	width: 50%;
}

.header-form {
	display: flex;
	max-width: 100%;
}

.header-input-text {
	width: calc(100% - 60px);
	height: 40px;
	padding: 0 6px;
	border: 1px solid #8f8f8f;
	border-right: none;
	border-radius: 2px 0 0 2px;
}

.header-input-button {
	width: 60x;
	height: 40px;
	border: 1px solid #8f8f8f;
	border-left: none;
	border-radius: 0 2px 0 2px;
}

.header-end {
	display: flex;
}

.header-search {
	display: none; /* 화면이 좁아졌을 때만 보여야 함 */
	margin-right: 5px;
	border: none;
	background-color: transparent;
	font-size: 1.5rem;
}

.header-profile {
	width: 40px;
	height: 40px;
	border: 1px solid #eaeaea;
	border-radius: 50%;
	background-color: tomato;
	/* 이미지가 있는 경우
	background-image: url(../이미지 경로.png);
	background-size: 40px 40px;
	*/
}


/**/
@media screen and ( max-width: 800px ) {
	/* 800 px 기준으로 로고 숨기기 */
	.header-title {
		display: none; 
	}
}

@media screen and ( max-width: 400px ) {
	/* 400px 기준으로 검색창 대신에 돋보기 보여주기 */
	.header-center {
		display: none; 
	}
	
	.header-search {
		display: block;
	}
}